<body>

        <p style="font-weight: bolder; position: relative;top: -140px; left: 900px;">
                Labial con Brillo y Volumen. </p>
        <p style="font-weight: bolder; position: relative;top: -140px; left: 900px;">
                Te da un toque luminoso. </p>
        <p style="font-weight: bolder; position: relative;top: -140px; left: 900px;">
                Mantendrán tus labios suaves e hidratados. </p>
        <p style="font-weight: bolder; position: relative;top: -140px; left: 900px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -130px; left: 900px;">
                        Comprar
                </button></a>
</body>

</html>