<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Resalta tus labios
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/labiales-publicidad"><img
                        src="https://danaperfumerias.com/blog/wp-content/uploads/2019/02/labialacabadomate-e1549356409813.jpg"
                        alt="" width="400px" height="285.5px"
                        style="position: relative;top: 80px; left: 190px;"></a>
                <a href="http://localhost:9000/labiales-publicidad"><img
                        src="https://www.nfuerza.com/php/support/catalogo/admin/imgproductos/mex_esp_9517051.png"
                        alt="" width="340px" height="285.5px"
                        style="position: relative;top: 80px; left: -25px;"></a>
                <a href="http://localhost:9000/labial-hidratante-publicidad"><img
                        src="https://lbel.tiendabelcorp.com/cdn-cgi/image/width=1200,fit=contain,f=auto/https://belc-bigdata-mdm-images-prd.s3.amazonaws.com/images/FotoModeloWebRedes/200098950_galeria2_modelo_infini_labial_red_wine.jpg"
                        alt="" width="400px" height="285.5px"
                        style="position: relative;top: 80px; left: -130px;"></a>
                <a href="http://localhost:9000/labial-hidratante-publicidad"><img
                        src=" http://cdn.shopify.com/s/files/1/0529/0151/1364/products/9517533.png?v=1666921025"
                        alt="" width="400px" height="285.5px"
                        style="position: relative;top: 80px; left: -380px;"></a>
                <a href="http://localhost:9000/brillo-labial-publicidad"><img
                        src="https://imagenes.elpais.com/resizer/Kt2OovRsC-vWkjeN3YRxiGF5hWc=/980x980/cloudfront-eu-central-1.images.arcpublishing.com/prisa/QDKICWV5DEDZKEYCSNNM23YAOE.jpg"
                        alt="" width="400px" height="285.5px"
                        style="position: relative;top: -205px; left: 1045px;"></a>
                <a href="http://localhost:9000/brillo-labial-publicidad"><img
                        src="https://omnidesarrollo.com/wp-content/uploads/2018/10/9515045-Brillo-Labial-Red-Passion.png"
                        alt="" width="400px" height="285.5px"
                        style="position: relative;top: -205px; left: 790px;"></a>
                <a href="http://localhost:9000/labiales-publicidad">
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(100, 3, 43); font-weight: bolder; position: relative;top: -115px; left: -420px;">
                        Labiales Mate
                </button></a>
                <a href="http://localhost:9000/labial-hidratante-publicidad">
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(84, 4, 90); font-weight: bolder; position: relative;top: -110px; left: -235px;">
                        Labiales Hidratantes FPS15
                </button></a>
                <a href="http://localhost:9000/brillo-labial-publicidad">
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(92, 0, 0); font-weight: bolder; position: relative;top: -110px; left: 60px;">
                        Brillos Labiales
                </button></a>
</body>

</html>