<body>
        <!--main content-->
        <a href="http://localhost:9000/categorias-maquillaje"><img
                        src="img/productos/esmaltes.png"
                        alt="" width="650px" height="280px" style="position: relative;top: 40px; left: -490px;"></a>
</body>