<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
        <br>
        <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Completa tu colección con los mejores</h1>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);;">accesorios</h1>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/set-brochas-publicidad"><img
                                src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9522052.png" alt=""
                                width="400px" height="349px" style="position: relative;top: 40px; left: 250px;"></a>
                <a href="http://localhost:9000/brocha-publicidad"><img
                                src="https://ae01.alicdn.com/kf/H641e32cf8b8e47d0abb2b84487fef81a7.jpg?width=800&height=800&hash=1600"
                                alt="" width="400px" height="349px"
                                style="position: relative;top: 40px; left: 270px;"></a>
                <a href="http://localhost:9000/cosmetiquera-publicidad"><img
                                src="https://sumerlabs.com/sumer-app-90b8f.appspot.com/product_photos%2F7f98933581f2ab3b7ec0af5ff5886da5%2F762d91d0-89fa-11ec-8216-217676a03739?alt=media&token=705ea009-1f8b-4ee5-9c68-d727fc7d3124"
                                alt="" width="400px" height="349px"
                                style="position: relative;top: 40px; left: 290px;"></a>
                <br> <br><br><br>




                <%- include('partials/footer')%>
</body>

</html>