<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
        <br>
        <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Perfumes SUCCESI</h1>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/perfume-mujer-publicidad"><img
                                src="https://www.salud-vitavida.com/wp-content/uploads/2022/03/Fragancia-Sucessi-for-Her.jpg" alt=""
                                width="750px" height="418px" style="position: relative;top: 40px; left: 180px;"></a>
                <a href="http://localhost:9000/perfume-hombre-publicidad"><img
                                src="https://www.salud-vitavida.com/wp-content/uploads/2022/03/Fragancia-Sucessi-for-Him.jpg"
                                alt="" width="750px" height="418px"
                                style="position: relative;top: 40px; left: -90px;"></a>
                <br> <br><br><br>




                <%- include('partials/footer')%>
</body>

</html>