<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 400px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Maquillaje</h1>
                <a href="http://localhost:9000/ropa-hombre-formal"><i class="bi bi-arrow-right-circle"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: -61px; left: 920px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                </a>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/ropa-mujer-top">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 400px;">
                                <img src="img/productos/maquillaje-liquido.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/ropa-mujer-pantalon">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 400px;">
                                <img src="img/productos/maquillaje-compacto.png"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/ropa-mujer-boda">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 400px;">
                                <img src="img/productos/corrector.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/zapatos-mujer-botines">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 700px;">
                                <img src="img/productos/labial-mate.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/zapatos-mujer-sandalias">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 700px;">
                                <img src="img/productos/labial-hidratante.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>
                <a href="http://localhost:9000/zapatos-mujer-boda">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 700px;">
                                <img src="img/productos/brillo-labial.jpg" alt=""
                                        width="65px" height="150px" style="position: relative;">
                        </button>
                </a>
                <br>
                <a href="http://localhost:9000/ropa-mujer-formal">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 200px;"><img
                                        src="img/productos/delineador-penliner.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/ropa-mujer-falda-deportiva">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 200px;"><img
                                        src="img/productos/delineador-liquido.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/ropa-mujer-top-deportivo">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 200px;">
                                <img src="img/productos/lapiz-delineador-de-ojos.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/zapatos-mujer-formales">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 500px;">
                                <img src="img/productos/polvo-traslucido.jpg" alt=""
                                        width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/zapatos-mujer-deportivos">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 500px;">
                                <img src="img/productos/rubor-compacto.png" alt=""
                                        width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/zapatos-mujer-zapatillas-deportivas">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 40px; left: 500px;">
                                <img src="img/productos/esmalte.jpg"
                                        alt="" width="65px" height="150px" style="position: relative;">
                        </button>
                </a>

                <a href="http://localhost:9000/ropa-mujer-top">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -120px; left: -350px;">
                                Match Perfecto
                        </button></a>
                <a href="http://localhost:9000/ropa-mujer-top">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 50px; left: -195px;">
                                Define tu mirada
                        </button></a>
                <a href="http://localhost:9000/zapatos-mujer-botines">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -120px; left: -80px;">
                                Resalta tus labios
                        </button></a>
                <a href="http://localhost:9000/perfume-mujer-publicidad">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 50px; left: 60px;">
                                Otros
                        </button></a>

</body>

</html>