<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Cejas perfectas
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/set-delineador-compacto-cejas-publicidad"><img
                        src="https://bridewoman.net/wp-content/uploads/2021/10/single-estonian-838x1024.jpeg"
                        alt="" width="600px" height="341px"
                        style="position: relative;top: 80px; left: 190px;"></a>
                <a href="http://localhost:9000/set-delineador-compacto-cejas-publicidad"><img
                        src="https://i.pinimg.com/originals/42/17/72/421772742b91a33223c2cd9a3b5b97cf.png"
                        alt="" width="340px" height="285.5px"
                        style="position: relative;top: 80px; left: -95px;"></a>
                <a href="http://localhost:9000/lapiz-cejas-publicidad"><img
                        src="https://www.onlineadultdating.net/wp-content/uploads/2020/02/sexy-single-women-online.jpg"
                        alt="" width="600px" height="341px"
                        style="position: relative;top: 80px; left: -130px;"></a>
                <a href="http://localhost:9000/lapiz-cejas-publicidad"><img
                        src="https://www.cosmeticaorganicamx.com/wp-content/uploads/8905007.png"
                        alt="" width="290px" height="230px"
                        style="position: relative;top: -130px; left: 1080px;"></a>
                <a href="http://localhost:9000/set-delineador-compacto-cejas-publicidad">
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -145px; left: -35px;">
                        Set Delineador Compacto para cejas
                </button></a>
                <a href="http://localhost:9000/lapiz-cejas-publicidad">
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -152px; left: 449px;">
                        Lápiz para Cejas
                </button></a>
                
                <%- include('partials/footer')%>
</body>

</html>