<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">El match perfecto
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/maquillaje-publicidad"><img
                        src="https://i.pinimg.com/474x/45/4f/12/454f12780dfa035c6ad8ac767cdf46a1.jpg"
                        alt="" width="400px" height="300px"
                        style="position: relative;top: 80px; left: 190px;"></a>
                <a href="http://localhost:9000/maquillaje-publicidad"><img
                        src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9508017.png?mobile=1"
                        alt="" width="340px" height="130px"
                        style="position: relative;top: 80px; left: -25px;"></a>
                <a href="http://localhost:9000/polvo-publicidad"><img
                        src="https://naciongolf.com/wp-content/uploads/2022/06/paigespiranac2.jpg"
                        alt="" width="400px" height="300px"
                        style="position: relative;top: 80px; left: -130px;"></a>
                <a href="http://localhost:9000/polvo-publicidad"><img
                        src="https://grupogemvida.com/wp-content/uploads/2020/07/9511021-1.png"
                        alt="" width="290px" height="130px"
                        style="position: relative;top: 130px; left: -380px;"></a>
                <a href="http://localhost:9000/corrector-publicidad"><img
                        src="https://i.pinimg.com/236x/ac/3f/50/ac3f50bb5641ded524db7d8349c98262.jpg"
                        alt="" width="400px" height="300px"
                        style="position: relative;top: -220px; left: 1045px;"></a>
                <a href="http://localhost:9000/corrector-publicidad"><img
                        src="https://seytu.omnilife.com/uploads/images/products/detail/mex/es/9501162.png"
                        alt="" width="400px" height="130px"
                        style="position: relative;top: -205px; left: 750px;"></a>
                <a href="http://localhost:9000/maquillaje-publicidad">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -115px; left: -560px;">
                        Maquillaje Líquido UP+ FPS 15
                </button></a>
                <a href="http://localhost:9000/polvo-publicidad">
                <button type="button" class="btn btn-outline-danger"
                        style="font-weight: bolder; position: relative;top: -140px; left: -309px;">
                        Maquillaje Compacto 2 en 1
                </button></a>
                <a href="http://localhost:9000/corrector-publicidad">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -150px; left: -160px;">
                        Corrector Líquido
                </button></a>
</body>

</html>