<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <a href="http://localhost:9000/maquillaje-publicidad"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(240, 6, 201);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(240, 6, 201);">Resalta tus labios
                </h1>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/labiales-publicidad"><img
                                src="https://i0.wp.com/divinasmakeup.com/wp-content/uploads/2022/01/684.2-SET-DE-LABIALES-MATE-4-EN-1-IMAN-OF-NOBBLE-MATTE-LIPSTICK.jpg?fit=1080%2C1080&ssl=1"
                                alt="" width="400px" height="250px"
                                style="position: relative;top: 40px; left: 250px;"></a>
                <a href="http://localhost:9000/labiales-publicidad"><img
                                src="https://www.nfuerza.com/php/support/catalogo/admin/imgproductos/mex_esp_9517051.png"
                                alt="" width="340px" height="250px"
                                style="position: relative;top: 40px; left: 20px;"></a>
                <a href="http://localhost:9000/brocha"><img
                                src="https://lbel.tiendabelcorp.com/cdn-cgi/image/width=1200,fit=contain,f=auto/https://belc-bigdata-mdm-images-prd.s3.amazonaws.com/images/FotoModeloWebRedes/200098950_galeria2_modelo_infini_labial_red_wine.jpg"
                                alt="" width="400px" height="250px"
                                style="position: relative;top: 40px; left: -50px;"></a>
                <a href="http://localhost:9000/brocha"><img
                                src=" http://cdn.shopify.com/s/files/1/0529/0151/1364/products/9517533.png?v=1666921025"
                                alt="" width="400px" height="250px"
                                style="position: relative;top: 40px; left: -320px;"></a>
                <a href="http://localhost:9000/cosmetiquera"><img
                                src="https://imagenes.elpais.com/resizer/Kt2OovRsC-vWkjeN3YRxiGF5hWc=/980x980/cloudfront-eu-central-1.images.arcpublishing.com/prisa/QDKICWV5DEDZKEYCSNNM23YAOE.jpg"
                                alt="" width="400px" height="250px"
                                style="position: relative;top: -210px; left: 1145px;"></a>
                <a href="http://localhost:9000/cosmetiquera"><img
                                src="https://omnidesarrollo.com/wp-content/uploads/2018/10/9515045-Brillo-Labial-Red-Passion.png"
                                alt="" width="400px" height="250px"
                                style="position: relative;top: -210px; left: 870px;"></a>
                <a href="http://localhost:9000/labiales-publicidad">
                        <button type="button" class="btn btn-outline-default"
                                style="color:rgb(100, 3, 43); font-weight: bolder; position: relative;top: -115px; left: -370px;">
                                Labiales Mate
                        </button></a>
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(84, 4, 90); font-weight: bolder; position: relative;top: -110px; left: -190px;">
                        Labiales Hidratantes FPS15
                </button>
                <button type="button" class="btn btn-outline-default"
                        style="color:rgb(92, 0, 0); font-weight: bolder; position: relative;top: -110px; left: 130px;">
                        Brillos Labiales
                </button>

                <%- include('partials/footer')%>
</body>

</html>