<body>
        <!--main content-->
        <a href="http://localhost:9000/categorias-maquillaje"><img
                src="img/publicidad/pb-corrector.png"
                alt="" width="350px" height="180px"
                style="position: relative;top: 130px; left: -460px;"></a>

        <p style="font-weight: bolder; position: relative;top: -180px; left: 1010px;">
               Oculta: imperfecciones.</p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1010px;">
                Duración: hasta por 8 horas y a prueba de agua.</p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1010px;">
                Ingredientes: ácido hialurónico, vitamina E. </p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1010px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -170px; left: 1010px;">
                        Comprar
                </button></a>
</body>

</html>