<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/corrector-publicidad"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(190, 114, 0);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(168, 118, 10);">Crema de Cuidado Intensivo para Contorno de Ojos
        </h1>


        <a href="http://localhost:9000/corrector-publicidad"><img
                src="https://www.cosmeticaorganicamx.com/wp-content/uploads/corrector-liquido.png" alt="" width="900px"
                height="600px" style="position: relative;top: 130px; left: 350px;"></a>
        <div class="w-25" style="position: relative;top: -370px; left: 1350px;">
            <h3 style="background:rgb(155, 114, 0); font-weight: bolder;width:357px;"><small>Reduce las líneas de expresión del contorno de los ojos

                </small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Ayuda a reducir las finas líneas de expresión
                </li>
                <li class="nav-item">
                    Mejora la elasticidad, flexibilidad e hidrata la piel
                </li>
                <li class="nav-item">
                    Fórmula que revitaliza y suaviza la piel de contorno de los ojos
                </li>
                <li class="nav-item">
                    Hidrata y tonifica la piel
                </li>
            </ul> <br>
            <h3 style="background:rgb(155, 114, 0); font-weight: bolder;width:357px;"><small>Ingredientes

                </small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Ácido hialurónico 
                </li>
                <li class="nav-item">
                    Coenzima Q10
                </li>
                <li class="nav-item">
                    Aceite de jojoba 
                </li>
                <li class="nav-item">
                    Péptidos
                </li>
                <li class="nav-item">
                    Vitamina E
                </li>
            </ul> <br>
            <h3 style="background:rgb(138, 101, 0); font-weight: bolder;"><small>El cuidado que mereces</small></h3>
        </div>
        <button type="button" class="btn btn-dark"
            style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 1350px;">
            Comprar
        </button>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -595px; left: 667px;"> FAIR
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -490px; left: 597px;"> LIGHT
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -380px; left: 510px;"> MEDIUM
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -269px; left: 430px;"> DEEP
            </button></a>

        <%- include('partials/footer')%>
</body>

</html>