<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/delineador-liquido-publicidad"><i
                                class="bi bi-arrow-left-circle"></i><svg xmlns="http://www.w3.org/2000/svg" width="46"
                                height="46" style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Delineador Líquido
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/delineador-liquido-publicidad"><img
                                src="https://d.wattpad.com/story_parts/708036235/images/158cccf05b3d5b65534825274038.jpg"
                                alt="" width="900px" height="401px"
                                style="position: relative;top: 80px; left: 250px;"></a>
                <a href="http://localhost:9000/delineador-liquido-publicidad"><img
                                src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9505065.png"
                                alt="" width="300px" height="140px"
                                style="position: relative;top: 240px; left: -205px;"></a>
                <p style="font-weight: bolder; position: relative;top: -240px; left: 1200px;">
                        Adherencia: en climas húmedos y cálidas. </p>
                <p style="font-weight: bolder; position: relative;top: -240px; left: 1200px;">
                        Duración: larga, resistente al agua.</p>
                <p style="font-weight: bolder; position: relative;top: -240px; left: 1200px;">
                        Aplicación:  pigmento de alta cobertura, punta pincel de alta precisión, secado rápido y color intenso. </p>
                <p style="font-weight: bolder; position: relative;top: -240px; left: 1200px;">
                        Precio: $ 30 </p>
                <a href="http://localhost/proyecto-completo/login/">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -210px; left: 1200px;">
                                Comprar
                        </button></a>
</body>

</html>