<body>
        <a href="http://localhost:9000/delineador-penliner-publicidad"><img
                        src="img/productos/delineador-penliner.jpg"
                        alt="" width="300px" height="140px" style="position: relative;top: 30px; left: -505px;"></a>
        <p style="font-weight: bolder; position: relative;top: -200px; left: 1000px;">
                Secado rápido, no se corre.  </p>
        <p style="font-weight: bolder; position: relative;top: -200px; left: 1000px;">
                Duración: larga. </p>
        <p style="font-weight: bolder; position: relative;top: -200px; left: 1000px;">
                Resistente al agua. </p>
        <p style="font-weight: bolder; position: relative;top: -200px; left: 1000px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -190px; left: 1000px;">
                        Comprar
                </button></a>
</body>

</html>