<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categorias-define-tu-mirada"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Delineador Penliner
                </h1>

                <!--main content-->
                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 170px;height: 410px; width: 450px;">
                        <a href="http://localhost:9000/delineador-penliner"><img
                                        src="https://i.pinimg.com/originals/29/fc/80/29fc8015ce655f0e7bbb270b7a018e01.jpg"
                                        alt="" width="400px" height="430px"
                                        style="position: relative;top: -10px; left: 0px;"></a>
                        <a href="http://localhost:9000/delineador-penliner"><img
                                        src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9506012.png?mobile=1"
                                        alt="" width="300px" height="130px"
                                        style="position: relative;top: -40px; left: 135px;"></a>
                </button>

                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 180px;height: 410px; width: 450px;">

                        <a href="http://localhost:9000/delineador-penliner"><img
                                        src="https://i.pinimg.com/736x/5b/fc/4a/5bfc4a1b3681d42061283e9e15fd15d8--photo-instagram-selfies.jpg" alt="" width="400px"
                                        height="430px" style="position: relative;top: -10px; left: 0px;"></a>
                
                        <a href="http://localhost:9000/delineador-penliner"><img
                                        src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9506012.png?mobile=1"
                                        alt="" width="300px" height="130px"
                                        style="position: relative;top: -40px; left: 135px;"></a>


                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 190px;height: 410px; width: 450px;">
                        <a href="http://localhost:9000/delineador-penliner"><img
                                        src="https://i.pinimg.com/564x/5f/f2/a1/5ff2a166cec421d95aefcc3e29485860.jpg"
                                        alt="" width="400px" height="430px"
                                        style="position: relative;top: -10px; left: 0px;">
                        </a>

                        <a href="http://localhost:9000/delineador-penliner"><img
                                src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9506012.png?mobile=1"
                                alt="" width="300px" height="130px"
                                style="position: relative;top: -40px; left: 105px;"></a>
                </button>
</body>

</html>