<body>

                <p style="font-weight: bolder; position: relative;top: -120px; left: 1000px;">
                        Libre de: tolueno </p>
                <p style="font-weight: bolder; position: relative;top: -120px; left: 1000px;">
                        Duración: larga, Secado: rápido. </p>
                <p style="font-weight: bolder; position: relative;top: -120px; left: 1000px;">
                        Cobertura: rápida y construible. </p>
                <p style="font-weight: bolder; position: relative;top: -120px; left: 1000px;">
                        Precio: $ 30 c/u</p>
                <a href="http://localhost/proyecto-complexivo/loguearse/">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -100px; left: 1000px;">
                                Comprar
                        </button></a>
</body>

</html>