<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/esmalte-publicidad"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(188, 3, 194);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(172, 3, 194);">ESMALTE para uñas</h1>



        <div class="w-25" style="position: relative;top: 200px; left: 1450px;">
            <h3 style="background:rgb(134, 3, 194); font-weight: bolder;width:260px;"><small>#UñasKV</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Larga duración
                </li>
                <li class="nav-item">
                    Secado rápido
                </li>
                <li class="nav-item">
                    Cobertura perfecta y homogénea
                </li>
                <li class="nav-item">
                    Acabado vibrante de alto brillo
                </li>
            </ul> <br>
            <h3 style="background:rgb(134, 3, 194); font-weight: bolder;width:260px;"><small>FORMULA 8 Free</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Libre de tolueno
                </li>
                <li class="nav-item">
                    Libre de resinas de formaldehído
                </li>
                <li class="nav-item">
                    Libre de Dbp(dibutilftalato)
                </li>
                <li class="nav-item">
                    Libre de alcanfor
                </li>
                <li class="nav-item">
                    Libre de xileno
                </li>
                <li class="nav-item">
                    Libre de parabenos
                </li>
                <li class="nav-item">
                    Libre de fosfato de trilenilo
                </li>
                <li class="nav-item">
                    Libre de formaldehído
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark"
            style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -50px; left: 1450px;"> Comprar
        </button>

        <a href="http://localhost:9000/esmalte-publicidad"><img
                src="https://alciravital.com/wp-content/uploads/2021/05/Todos-los-tonos-de-esmalte-Kenya-Vergara-Seytu-1024x575.png"
                alt="" width="1070px" height="600px" style="position: relative;top: -250px; left: 230px;"></a>
        <a href="http://localhost:9000/esmalte-publicidad">
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -745px;">
                VIRGO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -706px;">
                LEO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -681px;">
                ESCORPIO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -670px;">
                ARIES
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -640px;">
                TAURO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -450px; left: -613px;">
                LIBRA
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -260px; left: -1240px;">
                CÁNCER
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -260px; left: -1213px;">
                PICIS
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -260px; left: -1213px;">
                CAPRICORNIO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -580px; left: 743px;">
                GÉNESIS
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -580px; left: 755px;">
                ACUARIO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -580px; left: 783px;">
                1991
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -580px; left: 803px;">
                SAGITARIO
            </button>
            <button type="button" class="btn btn-default"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -700px; left: 860px;">
                ORIÓN
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: -1px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: 46px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: 98px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: 150px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: 200px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -625px; left: 250px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -350px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -301px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -250px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -200px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -145px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -94px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -440px; left: -44px;"> $25
            </button>
            <button type="button" class="btn btn-light"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -524px; left: 67px;"> $25
            </button>
        </a>


            <%- include('partials/footer')%>
</body>

</html>