<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(188, 3, 194);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(172, 3, 194);">ESMALTE para uñas
                </h1>
                <br>


                <a href="http://localhost:9000/esmalte"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRje0pKERDEqb-GELjCA53g4cZl9mHqqUamBqXi0Pwd4Z82cwL0gVLgDOl2-SCAi0In904&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(166, 9, 172) 8px dashed; border-bottom: rgb(166, 9, 172) 8px dashed;"></a>
                <a href="http://localhost:9000/esmalte"><img
                                src="https://pbs.twimg.com/media/E_TACetVEAEvkCU.jpg" alt=""
                                width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(166, 9, 172) 8px dashed; border-bottom: rgb(166, 9, 172) 8px dashed; border-left: rgb(166, 9, 172) 8px dashed;"></a>


                <a href=" http://localhost:9000/esmalte"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzlszgkJ3nPE5Ytql37HoIQr_Y9PxwVyDcD06nIzAyCe2POAgl4dZVD2mx9Dk3VPSQTh4&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(166, 9, 172) 8px dashed; border-bottom: rgb(166, 9, 172) 8px dashed;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/esmalte"><img src="https://i.pinimg.com/originals/02/d1/f9/02d1f9068f49074dccda49dbfb624e00.jpg" alt=""
                                width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(166, 9, 172) 8px dashed; border-top: rgb(166, 9, 172) 8px dashed; "></a>
                <a href="http://localhost:9000/esmalte"><img
                                src="https://1.bp.blogspot.com/-5NxCNUFogIs/XAi1m9YH_7I/AAAAAAAACYc/pLXlGngYm9wSxHwqooBzv2WJQ-37krDvACLcBGAs/w1200-h630-p-k-no-nu/set-de-6-esmaltes-kenya-vergara-seytu-D_NQ_NP_756635-MEC28319257955_102018-F.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(166, 9, 172) 8px dashed; border-top: rgb(166, 9, 172) 8px dashed; border-left: rgb(166, 9, 172) 8px dashed;"></a>


                <a href=" http://localhost:9000/esmalte"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1okqa6zq6Bw-1zy3nesuyVa6wk2sOePk0wQ&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(166, 9, 172) 8px dashed; border-top: rgb(166, 9, 172) 8px dashed;"></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <%- include('partials/footer')%>
</body>

</html>