<body>

        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Resistente al agua. </p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Duración: larga. </p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Ingredientes: </p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                 * Aceite de jojoba, Vitamina E </p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -145px; left: 900px;">
                        Comprar
                </button></a>
</body>

</html>