<body>

        <p style="font-weight: bolder; position: relative;top: -150px; left: 900px;">
                Textura: ultra cremosa. </p>
        <p style="font-weight: bolder; position: relative;top: -150px; left: 900px;">
                Pigmentación: alta. </p>
        <p style="font-weight: bolder; position: relative;top: -150px; left: 900px;">
                Duración: larga. </p>
        <p style="font-weight: bolder; position: relative;top: -150px; left: 900px;">
                Humecta los labios.</p>
        <p style="font-weight: bolder; position: relative;top: -150px; left: 900px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -130px; left: 900px;">
                        Comprar
                </button></a>

</body>