<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/labiales-publicidad-2"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">LABIALES MATE
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/labiales"><img
                                src="https://danaperfumerias.com/blog/wp-content/uploads/2019/02/labialacabadomate-e1549356409813.jpg"
                                alt="" width="900px" height="341px"
                                style="position: relative;top: 120px; left: 250px;"></a>
                <a href="http://localhost:9000/labiales"><img
                                src="https://i.pinimg.com/originals/41/27/77/4127772caa92d042191f004ea5045618.jpg" alt="" width="200px"
                                height="100px" style="position: relative;top: 239px; left: -654px;"></a>
                <a href="http://localhost:9000/labiales"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7BwAptQZPD_20ArJu0qg88-zBglgBCAzCiA&usqp=CAU" alt="" width="200px"
                                height="100px" style="position: relative;top: 239px; left: -657px;"></a>
                <a href="http://localhost:9000/labiales"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_659767-MLM32595197884_102019-O.jpg" alt="" width="260px"
                                height="340px" style="position: relative;top: 119px; left: -423px;"></a>
        

                <div class="w-20" style="position: relative;top: -160px; left: 1200px; width: 230px;">

                        <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                                <li class="nav-item">
                                        Resistente al agua. Acabado aterciopelado y mate.
                                        <br>
                                        Larga duración y de secado rápido.
                                        <br>
                                        INGREDIENTES: Aceite de jojoba y Vitamina E
                                        <button type="button" class="btn btn-dark"
                                                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 50px; left: -0px;">
                                                Comprar
                                        </button>
                                </li>
                        </ul>
                </div>
</body>

</html>