<body>
        <!--main content-->
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://img77.uenicdn.com/image/upload/v1631508231/business/d12a9944-f9c1-49bf-a48e-00672a0a41a5.jpg"
                        alt="" width="150px" height="190px" style="position: relative;top: 40px; left: 160px;"></a>


        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToGBTUu0titWdSZ9GJpXYQJz2HtWaUX8gSZA_kzi-3qPIH_DATfUrTkL4I-qfgjn1X5wY&usqp=CAU"
                        alt="" width="150px" height="190px" style="position: relative;top: 40px; left: 165px;"></a>
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://www.nutricionybellezaorganica.com/wp-content/uploads/Paso-a-paso-17.jpg" alt=""
                        width="150px" height="190px" style="position: relative;top: 40px; left: 170px;"></a>
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmcDJf6QrUvqCevJzEE4oNSTYS7zlSSO8YzWZNQBexLISXpCNhN9MNZv0jLBf2sM-ApL0&usqp=CAU"
                        alt="" width="150px" height="190px" style="position: relative;top: 40px; left: 175px;"></a>
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGfsBV4z_LKbtR0FMFV3_cYVOy4vzV3Jp3Bs3oSkKizs0HOQtStXns9WsHKqJNvOLbBLM&usqp=CAU"
                        alt="" width="150px" height="190px" style="position: relative;top: 50px; left: 350px;"></a>
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiwfb2Jc8iwLUU-LkQewTe4flbdyDV00SPrw&usqp=CAU"
                        alt="" width="150px" height="190px" style="position: relative;top: 50px; left: 355px;"></a>
        <a href="http://localhost:9000/labiales-descripcion"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV2UtzDjp-pVKWfvztAFJvyWSsaXmBPdjNIs8NmqJcGY0Ko2KsgjKvgThotHRcF79s2D8&usqp=CAU"
                        alt="" width="150px" height="190px" style="position: relative;top: 50px; left: 360px;"></a>
        <button type="button" class="btn btn-dark"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -105px; left: -610px;">
                $ 30
        </button>
        <button type="button" class="btn btn-dark"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -105px; left: -310px;">
                $ 30
        </button>
        <button type="button" class="btn btn-dark"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -105px; left: -12px;">
                $ 30
        </button>
        <button type="button" class="btn btn-dark"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -105px; left: 286px;">
                $ 30
        </button>
        <button type="button" class="btn btn-dark"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 156px; left: -662px;">
                $ 30
        </button>
        <button type="button" class="btn btn-success"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 156px; left: -468px;">
                PROMOCIÓN $ 25
        </button>
        <button type="button" class="btn btn-success"
                style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 12px; left: 1259px;">
                PROMOCIÓN $ 25
        </button>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: 20px; left: 1300px;">
                        Comprar
                </button></a>
</body>

</html>