<body>
        <!--main content-->
        <a href="http://localhost:9000/lapiz-delineador-ojos-publicidad"><img
                        src="https://seytu.omnilife.com//uploads/images/products/detail/cosmetica/9505062.png?mobile=1"
                        alt="" width="300px" height="140px" style="position: relative;top: 230px; left: -715px;"></a>
        <p style="font-weight: bolder; position: relative;top: -230px; left: 1200px;">
                Textura: cremosa, libre de aceite mineral y parafina.</p>
        <p style="font-weight: bolder; position: relative;top: -230px; left: 1200px;">
                Duración: larga, resistente al agua.</p>
        <p style="font-weight: bolder; position: relative;top: -230px; left: 1200px;">
                Efecto: ahumado para crear líneas precisas. </p>
        <p style="font-weight: bolder; position: relative;top: -230px; left: 1200px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -200px; left: 1200px;">
                        Comprar
                </button></a>
</body>

</html>