<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/maquillaje-publicidad"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Maquillaje Líquido UP+
                        FPS 15
                </h1>

                <!--main content-->
                <a href="http://localhost:9000/maquillaje-publicidad"><img
                                src="https://laverdadnoticias.com/__export/1671827941925/sites/laverdad/img/2022/12/23/ellas_fueron_las_chicas_mas_sexys_del_2022_1.jpeg_423682103.jpeg"
                                alt="" width="900px" height="331px"
                                style="position: relative;top: 120px; left: 250px;"></a>
                <a href="http://localhost:9000/maquillaje-publicidad"><img
                                src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9508017.png?mobile=1"
                                alt="" width="300px" height="130px"
                                style="position: relative;top: 240px; left: -340px;"></a>

                <p style="font-weight: bolder; position: relative;top: -175px; left: 1200px;">
                        A prueba de: agua y sudor, ofrece FPS 15 contra rayos UVA/UVB.</p>
                <p style="font-weight: bolder; position: relative;top: -175px; left: 1200px;">
                        Duración: alta, cobertura uniforme. </p>
                <p style="font-weight: bolder; position: relative;top: -175px; left: 1200px;">
                        INGREDIENTES: Colágeno hidrolizado, ácido hialurónico, aceite de jojoba, vitamina E y óxido de zinc. </p>
                <p style="font-weight: bolder; position: relative;top: -175px; left: 1200px;">
                        Precio: $ 30 </p>
                <a href="http://localhost/proyecto-completo/login/">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -150px; left: 1200px;">
                                Comprar
                        </button></a>

</body>

</html>