<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(194, 105, 3);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(187, 106, 0);">Maquillaje Líquido
                        UP+ FPS 15</h1>
                <br>


                <a href="http://localhost:9000/maquillaje"><img
                                src="https://img77.uenicdn.com/image/upload/v1589558888/business/837b46fa-64bd-48a4-bdef-c89a63be5602.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed;"></a>
                <a href="http://localhost:9000/maquillaje"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUQoSrdSQSLDx4nJnGK73Ehms96bN37Mav0Q&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed; border-left: rgb(187, 106, 0) 8px dashed;"></a>


                <a href=" http://localhost:9000/maquillaje"><img
                                src="https://i.pinimg.com/originals/9f/4d/41/9f4d41ac9dbe6ffbb3699cfbd2ce15f3.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/maquillaje"><img
                                src="https://harovitours.tur.ar/wp-content/uploads/2020/06/08may.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed; "></a>
                <a href="http://localhost:9000/maquillaje"><img
                                src="https://m.media-amazon.com/images/I/61yweTm2KJL._AC_SX522_.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed; border-left: rgb(187, 106, 0) 8px dashed;"></a>


                <a href=" http://localhost:9000/maquillaje"><img
                                src="https://i.ytimg.com/vi/u3qmv9zbWAM/maxresdefault.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed;"></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <%- include('partials/footer')%>
</body>

</html>