<body>
                <!--main content-->
                <a href="http://localhost:9000/mascara-pestanas-publicidad"><img
                                src="https://seytu.omnilife.com/uploads/images/products/detail/cosmetica/9512023.png"
                                alt="" width="300px" height="130px"
                                style="position: relative;top: 130px; left: 5px;"></a>
                <p style="font-weight: bolder; position: relative;top: -185px; left: 1200px;">
                        Resistente: al agua y máximo alargamiento y volumen.</p>
                <p style="font-weight: bolder; position: relative;top: -185px; left: 1200px;">
                        Aplicación: precisa, con cepillo que riza y separa las pestañas a la perfección, no deja grumos.</p>
                <p style="font-weight: bolder; position: relative;top: -185px; left: 1200px;">
                        Fortalecen las pestañas: con aceites naturales y activos. </p>
                <p style="font-weight: bolder; position: relative;top: -185px; left: 1200px;">
                        Precio: $ 30 </p>
                <a href="http://localhost/proyecto-complexivo/loguearse/">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -170px; left: 1200px;">
                                Comprar
                        </button></a>

</body>

</html>