<body>
        <!--main content-->
        <a href="http://localhost:9000/categorias-mujer"><img
                        src="https://cdn.shopify.com/s/files/1/0581/9206/8761/products/1120_400x400.webp?v=1657905790"
                        alt="" width="470px" height="170px" style="position: relative;top: 40px; left: -500px;"></a>
        <p style="font-weight: bolder; position: relative;top: -205px; left: 900px;">
                Aroma dulce, natural y especiado.</p>
        <p style="font-weight: bolder; position: relative;top: -205px; left: 900px;">
                Fragancia: femenina floral. </p>
        <p style="font-weight: bolder; position: relative;top: -205px; left: 900px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -190px; left: 900px;">
                        Comprar
                </button></a>
</body>

</html>