<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categoria-perfume"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Succesi(for Her)
                </h1>

                <!--main content-->
                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 170px;height: 459px; width: 450px;">
                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://i.pinimg.com/236x/0c/eb/ef/0cebefcdb581c8ce25e543038e3c9997.jpg"
                                        alt="" width="400px" height="462px"
                                        style="position: relative;top: -10px; left: 0px;"></a>
                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://cdn.shopify.com/s/files/1/0581/9206/8761/products/1120_400x400.webp?v=1657905790" alt="" width="200px"
                                        height="100px" style="position: relative;top: -120px; left: 100px;"></a>
                </button>

                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 180px;height: 459px; width: 450px;">

                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://i.pinimg.com/474x/d5/42/34/d542348ea6d4c5508f99b872bb7645ac.jpg" alt="" width="400px"
                                        height="462px" style="position: relative;top: -10px; left: 0px;"></a>
                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://cdn.shopify.com/s/files/1/0581/9206/8761/products/1120_400x400.webp?v=1657905790" alt="" width="200px"
                                        height="100px" style="position: relative;top: -120px; left: 100px;"></a>
                </button>

                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 190px;height: 459px; width: 450px;">
                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://i.pinimg.com/736x/3b/08/f1/3b08f1999c58dc99eab9868a3d11f04f.jpg"
                                        alt="" width="400px" height="462px"
                                        style="position: relative;top: -10px; left: 0px;">
                        </a>
                        <a href="http://localhost:9000/perfume-mujer"><img
                                        src="https://cdn.shopify.com/s/files/1/0581/9206/8761/products/1120_400x400.webp?v=1657905790" alt="" width="200px"
                                        height="100px" style="position: relative;top: -120px; left: 100px;"></a>
                </button>
</body>

</html>