<body>
        <!--main content-->
        <a href="http://localhost:9000/categorias-hombre"><img
                        src="https://www.salud-vitavida.com/wp-content/uploads/2022/03/Fragancia-Sucessi-for-Him.jpg"
                        alt="" width="400px" height="130px" style="position: relative;top: 70px; left: -450px;"></a>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Amaderado: especiado oriental.</p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Toque cítrico con bergamota y jenjibre. </p>
        <p style="font-weight: bolder; position: relative;top: -155px; left: 900px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -145px; left: 900px;">
                        Comprar
                </button></a>
</body>

</html>