<body>
                <!--main content-->
        <a href="http://localhost:9000/categorias-maquillaje"><img
                src="img/productos/maquillaje-compacto.jpg"
                alt="" width="420px" height="230px"
                style="position: relative;top: 130px; left: -460px;"></a>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1000px;">
                Utilización: en húmedo y seco.</p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1000px;">
                Controla el brillo de la piel.</p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1000px;">
                Textura: ultrafina. </p>
        <p style="font-weight: bolder; position: relative;top: -180px; left: 1000px;">
                Precio: $ 30 </p>
        <a href="http://localhost/proyecto-complexivo/loguearse/">
                <button type="button" class="btn btn-outline-dark"
                        style="font-weight: bolder; position: relative;top: -160px; left: 1000px;">
                        Comprar
                </button></a>
</body>

