<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <a href="http://localhost:9000/categorias"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(194, 105, 3);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(187, 106, 0);">Maquillaje Compacto
                        2 en
                        1</h1>
                <br>


                <a href="http://localhost:9000/polvo"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd0yyE3zcjtRLri7gJyCA1n0-VzpNjBn5FupElZI9JRg5LKoCJufsbqlzwVMxPoXvr3hk&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed;"></a>
                <a href="http://localhost:9000/polvo"><img
                                src="https://bellazaysalud.com/wp-content/uploads/2020/03/Maquillaje-Compacto-2-en-1-Setytu-Beneficios.jpg"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed; border-left: rgb(187, 106, 0) 8px dashed;"></a>


                <a href=" http://localhost:9000/polvo"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1NUk1fsROa6Zt0tUGQvlVncGkZRfNc8edQI5eNMf3ro437JcxbHEk9gD7x5cc89PQM0M&usqp=CAU"
                                alt="" width="450px" height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(187, 106, 0) 8px dashed; border-bottom: rgb(187, 106, 0) 8px dashed;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/polvo"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm4Lwk5bkvbJwz6J5RJbqhei_blK0wHgzWpzopRbfwxaotwckAweLR1iEUBdYNvNYnCUo&usqp=CAU" alt=""
                                width="450px" height="500px"
                                style="position: relative;top: 70px; left: 330px;border-right: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed; "></a>
                <a href="http://localhost:9000/polvo"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvaf7WcTuzMOiBPKsuFBepObEgYuU4bOEBnbnzft7AH1ym0rE2JuxfuxPV4I4MTec2_jU&usqp=CAU" alt=""
                                width="450px" height="500px"
                                style="position: relative;top: 70px; left: 350px; transform:rotate(0deg); border-right: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed; border-left: rgb(187, 106, 0) 8px dashed;"></a>


                <a href=" http://localhost:9000/polvo"><img
                                src="https://sumerlabs.com/default/image-tool-lambda?new-width=0&new-height=0&new-quality=25&url-image=https%3A%2F%2Fsumerlabs.com%2Fsumer-app-90b8f.appspot.com%2Fproduct_photos%252F0ffd3f3348db4003120472c8efcf4e9e%252F95645ff0-56b7-11ec-a457-d398933f2fde%3Falt%3Dmedia%26token%3D0aea58bc-413b-4b4e-b6dd-74d8c281c12e" alt="" width="450px"
                                height="500px"
                                style="position: relative;top: 70px; left: 370px;border-left: rgb(187, 106, 0) 8px dashed; border-top: rgb(187, 106, 0) 8px dashed;"></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <%- include('partials/footer')%>
</body>

</html>