<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>

        <a href="http://localhost:9000/categorias-accesorios"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 150px; left: 100px; color: rgb(190, 114, 0);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(168, 118, 10);position: relative;top: 90px;text-align: left; padding-left: 430px;">Set de Brochas
        </h1>
        <a href="http://localhost:9000/categorias-accesorios"><img
                src="https://pbs.twimg.com/media/EsBdftsXEAUMJau?format=jpg&name=large" alt="" width="900px"
                height="600px" style="position: relative;top: 170px; left: 150px;"></a>
        <div class="w-20" style="position: relative;top: -270px; left: 1100px; width: 230px;">
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    9 brochas y pinceles especializados para utilizarse con tus productos SEYTÚ
                </li>
                <li class="nav-item">
                    Cerdas sintéticas
                </li>
                <li class="nav-item">
                    Incluye estuche
                </li>
            </ul> <br>
            <h3 style="background:rgb(138, 101, 0); font-weight: bolder;width: 230px;"><small>Completa tu colección con
                    los mejores accesorios</small></h3>
        </div>
        <button type="button" class="btn btn-dark"
            style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -220px; left: 1100px;">
            Comprar
        </button>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-dark"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -269px; left: 920px;">
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-dark"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -269px; left: 763px;">
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-dark"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -269px; left: 610px;">
            </button></a>
        <a href="http://localhost:9000/corrector-publicidad">
            <button type="button" class="btn btn-outline-dark"
                style="color:rgb(0, 0, 0); font-weight: bolder; position: relative;top: -269px; left: 450px;">
            </button></a>


        <%- include('partials/footer')%>
</body>

</html>