<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <a href="http://localhost:9000/categorias-cejas-perfectas"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Set Delineador Compacto
                        para cejas
                </h1>

                <!--main content-->
                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 170px;height: 410px; width: 450px;">
                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                        src="https://img.asmedia.epimg.net/resizer/pf_dV-cGD9aj82bJQ1Awyql-p8s=/360x0/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/KQAA4GIPDVK45NHYCLQJUJ6HIA.jpg"
                                        alt="" width="400px" height="430px"
                                        style="position: relative;top: -10px; left: 0px;"></a>
                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                        src="https://i.pinimg.com/originals/42/17/72/421772742b91a33223c2cd9a3b5b97cf.png"
                                        alt="" width="300px" height="140px"
                                        style="position: relative;top: -40px; left: 135px;"></a>
                </button>

                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 180px;height: 410px; width: 450px;">

                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                        src="https://img.asmedia.epimg.net/resizer/EU2VuV3tOwXfN6ZvD8spyc1kWPs=/360x0/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/GMTWHKSLSRPDPNZJTR7V2KJ2EI.jpg" alt="" width="400px"
                                        height="430px" style="position: relative;top: -10px; left: 0px;"></a>
                
                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                        src="https://i.pinimg.com/originals/42/17/72/421772742b91a33223c2cd9a3b5b97cf.png"
                                        alt="" width="300px" height="140px"
                                        style="position: relative;top: -40px; left: 135px;"></a>


                <button type="button" class="btn btn-outline-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: 40px; left: 190px;height: 410px; width: 450px;">
                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                        src="https://i.pinimg.com/222x/d0/a6/d7/d0a6d7f2eeb62f84daae3b18681c5959.jpg"
                                        alt="" width="400px" height="430px"
                                        style="position: relative;top: -10px; left: 0px;">
                        </a>

                        <a href="http://localhost:9000/set-delineador-compacto-cejas"><img
                                src="https://i.pinimg.com/originals/42/17/72/421772742b91a33223c2cd9a3b5b97cf.png"
                                alt="" width="300px" height="140px"
                                style="position: relative;top: -40px; left: 105px;"></a>
                </button>
</body>

</html>