<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br>
                <a href="http://localhost:9000/categorias-hombre"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 50px; left: 100px; color: rgb(0, 0, 0);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px; color: rgb(0, 0, 0);">Ropa</h1>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/perfume-mujer-publicidad"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_857773-CBT49161009786_022022-W.jpg" alt=""
                                width="265px" height="150px" style="position: relative;top: 40px; left: 290px;"></a>
                <a href="http://localhost:9000/perfume-hombre-publicidad"><img
                                src="https://www.tiendasekono.com/media/catalog/product/1/3/1326980003-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=424&width=424&canvas=424:424"
                                alt="" width="265px" height="150px"
                                style="position: relative;top: 40px; left: 310px;"></a>
                <a href="http://localhost:9000/set-brochas-publicidad"><img
                                src="https://i.etsystatic.com/26738587/r/il/b3fefc/2896905801/il_1080xN.2896905801_pibl.jpg" alt=""
                                width="265px" height="150px" style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:9000/brocha-publicidad"><img
                                src="https://sc04.alicdn.com/kf/HTB1BH2fdjfguuRjy1zeq6z0KFXaw.jpg" alt=""
                                width="265px" height="150px" style="position: relative;top: 40px; left: 350px;"></a>

                <br>
                <a href="http://localhost:9000/esmalte-publicidad"><img
                                src="https://m.media-amazon.com/images/I/61Yk2TmtxuL._AC_SX679_.jpg" alt=""
                                width="265px" height="150px" style="position: relative;top: 120px; left: 270px;"></a>
                <a href="http://localhost:9000/esmalte-publicidad"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_745783-MLM48768406821_012022-O.webp"
                                alt="" width="265px" height="150px"
                                style="position: relative;top: 120px; left: 360px;"></a>

                <br>


                <a href="http://localhost:9000/categoria-perfume">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -140px; left: 355px;">
                                Camisa casual
                        </button></a>
                <a href="http://localhost:9000/categorias-accesorios">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -140px; left: 540px;">
                                Jeans
                        </button></a>
                <a href="http://localhost:9000/categorias-cejas-perfectas">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -140px; left: 760px;">
                                Boda
                        </button></a>
                <a href="http://localhost:9000/categorias-dale-vida-rostro-toque-color">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: -140px; left: 960px;">
                                Formal
                        </button></a>
                <a href="http://localhost:9000/categorias-define-tu-mirada">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 90px; left: -42px;">
                                Camiseta Deportiva
                        </button></a>

                <a href="http://localhost:9000/labiales-publicidad">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 90px; left: 500px;">
                                <img width="60px" height="100px"
                                        src="https://us.123rf.com/450wm/theartofphoto/theartofphoto1807/theartofphoto180700064/104724352-handsome-young-muscular-man-shirtless-wearing-jeans-taking-off-white-shirt-on-muscle-torso-on-light-.jpg"
                                        alt="">
                        </button></a>
                <a href="http://localhost:9000/labiales-publicidad">
                        <button type="button" class="btn btn-outline-dark"
                                style="font-weight: bolder; position: relative;top: 90px; left: 500px;">
                                <img width="60px" height="100px"
                                        src="https://img.asmedia.epimg.net/resizer/9eEA3jOZsmG1H6ouGAjBqMQpPYU=/360x0/cloudfront-eu-central-1.images.arcpublishing.com/diarioas/NSWZRDVPJRP33NLJYVW5ZLCM34.jpg"
                                        alt="">
                        </button></a>

</body>

</html>